@import "reset.scss";
@import "font-awesome.scss";
@import "variables";
@import 'mixins';


.container{
    margin: 0 375px;
    ul.breadcramb{
        margin: 50px 0;
        display: flex;
        li {
            @include font-style(15px, #263238);

        }
    }
}