main.part4{
    ul.breadcrumb{
        outline: solid 1px gray;
    }
    aside{
        outline: solid 1px red;
        .wrapper-categories{
            outline: solid 1px aqua;
            padding: 25px;
            .categories{

            }
        }
    }
    .main{
        .sort{
            padding: 15px;
            box-sizing: border-box;
            outline: solid 1px green;
        }
        .items{
            outline: solid 1px black;
            display: flex;
            flex-wrap: wrap;
            .wrapper-item{
                padding: 15px;
                box-sizing: border-box;
               .item{
                outline: solid 1px blue;
                   .div-img{
                       img{
                           width: 100%;
                           height: auto;
                       }
                   }
                   .title-price{
                        display: flex;
                        justify-content: space-between;
                        padding: 27px 22px;
                        border-bottom: solid 1px #e7ecf2;
                       .title{
                           h3{
                               margin-bottom: 15px;
                               color: #263238;
                               font: {
                                   family:'Roboto', sans-serif;
                                   size: 16px;
                                   weight: bolder;
                               }
                           }
                           h4{
                                font: {
                                    family:'Roboto', sans-serif;
                                    weight: bolder;
                                }
                               font-size: 14px;
                               color: #8bc34a;
                           }
                       }
                       .price{
                            font: {
                                family:'Roboto', sans-serif;
                                size: 20px;
                                weight: bold;
                            }
                            color: #263238;
                       }
                   }
                   .reviews{
                       display: flex;
                       justify-content: space-between;
                       align-items: center;
                       padding: 15px 20px;
                       .reviews-left{
                           flex-grow: 1;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                       }
                       .reviews-right{
                           @extend .reviews-left;
                       }
                       .div-img {
                           width: 30px;
                           height: 30px;
                           border-radius: 50%;
                           overflow: hidden;
                           img{
                               height: 100%;
                           }
                       }
                       p{
                           color: #546e7a;
                           font-size: 14px;
                           font-family: 'Roboto', sans-serif;
                           margin-left: 10px;
                       }
                       .stars{
                            .fa-star{
                                color: #ffa726;
                                font-size: 12px;
                            }
                       }
                       .count-reviews{
                           color: #263238;
                           font-size: 12px;
                           font-family: 'Roboto', sans-serif;
                           &::before{
                               content: '(';
                               color: #546e7a;
                               font-size: 12px;
                           }
                           &::after{
                               content: ')';
                               color: #546e7a;
                               font-size: 12px;
                           }
                       }
                   }
               } 
            }
        }
    }
}