main.ruslan {
    box-sizing: border-box;

    .green {
        color: $colorGreen;
        
    }




    .section-1 {
        background: #f4f6f5;
    }

    h2 {
        font: {
            weight: bold;
            size: 36px;
        }

        color: $textBlack;
        padding-top: 120px;
        display: flex;
        justify-content: center;
    }

    .tabs {
        display: flex;
        padding: 60px 0;
        justify-content: center;
        

        a {
            text-decoration: none;
            color: $textBlack;
            font-size: 14px;
            background: $colorWhite;
            padding: 15px 20px;
            margin: 6px;
            font-weight: 700;
            &:hover {
                box-shadow: $boxShadow;
                
            }
        }

        & li.tabs-red a {
            background-color: #e74c3c;
            color: $colorWhite;
            padding: 15px 25px;
        }
    }

    .last-tabs {
        display: flex;
        padding: 80px 0 110px 0;
        justify-content: center;
    }

    .last-tabs li a {
        padding: 20px 30px;
        font-size: 16px;
        background: $colorWhite;
        text-decoration: none;
        margin: 7px;
        color: $textBlack;
        font-weight: 600;
        &:hover {
            box-shadow: $boxShadow;
            cursor: pointer;
        }
    }

    .four-square {
        display: flex;
        justify-content: center;
        // justify-content: space-around;
        // padding: 0 30px 30px 30px;
    }


    .col-3 {
        width: 440px;
        height: 410px;
        position: relative;
        background: white;
        border: $borderForCol;
        margin: 15px;
        &:hover {
            box-shadow: $boxShadow;
            cursor: pointer;
        }
    }

    .one {
        img {
            width: 100%;
        }
    }
        
    
    .triangle {
        border-top: 60px solid $colorGreen; 
        border-right: 60px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .triangle i {
        display: flex;
        margin-bottom: 20px;
        background: transparent;
        color: $colorWhite;
    }


    .two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: $borderForCol;
        height: 90px;
    }

    .number-15 h3 {
        padding: 40px 30px;
        color: $textBlack;

        font: {
            size: 20px;
            weight: bold;
        }
    }

    .two-text {
        padding: 0 30px;

        h3 {
            color: $textBlack;
            padding-bottom: 16px;
            font-weight: bold;
            
            font: {
                size: 18px;
            }
        }

        span {
            color: $colorGreen;
            font-weight: 700;
            
            font: {
                size: 14px;
            }    
        }
    }

    .three {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        height: 70px;

        p {
            padding-left: 12px;
        }
    }

    .circle-boss {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 14px;
            color: $textGrey;
            font-weight: 700;
        }
    }

    .star {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 12px;
            color: $textGrey;
            font-weight: bold;
        }

        i {
            font-size: 12px;
            color: #ffa726
        }
    }

    .circle {
        background: #b5b5b5;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .last-text span {
        color: $textLightGrey;
        font-weight: 700;
    }



    .section-2 {
        h2 {
            padding-bottom: 60px;
        }
    

    .four-square {
        padding-bottom: 70px;
        }
    }

    .four-circle {
        display: flex;
        justify-content: center;
        padding: 0 9px;
        padding-bottom: 120px;

        .grey {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $textLightGrey;
            margin: 4px;
        }

        .green {
            background: $colorGreen; 
        }
    }



    .section-3 {
        background: $textBlack;

        h2 {
            color: $colorWhite;
        }

        h4 {
            font-size: 24px;
            color: $colorWhite;
            font-weight: bold;
            padding-top: 35px;
        }

        h4.green {
            color: $colorGreen;
        }

        .circle {
            width: 113px;
            height: 113px;
            background: #b5b5b5;

            &.lighter {
                background: #d4d4d4;
            }

            &:hover {
                background: $colorGreen;
                cursor: pointer;
            }
        }

        p {
            color: $textLightGrey;
            font-size: 15px;
            padding-top: 35px;
            line-height: 1.6em;
            text-align: center; 
        }

        .container {
            display: flex;
            justify-content: center;
            
        }

        .col-4 {
            padding: 90px 0 120px 0;
            
            .three-circle {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 40px 0 40px;
            }
              
        }

    }

    
    .section-4 {
        background: #f4f6f5;

        .col-12 {
            display: flex;
            justify-content: center;
        }


        .block-4 {
            width: 1104px;
            height: 440px;
            margin: 130px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: $boxShadow;
            background-image: url(../images/for_03_main-section-4.png)
        }

        .green {
            background: $colorGreen; 
            width: 650px;
            height: 220px;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                color: $colorWhite;
                font-size: 30px;

                span {
                    font-weight: bold;
                }
            }

            
        }

        .last-tabs {
            padding: 20px 0 20px 45px;

            a {
                font-size: 18px;
                color: $textBlack;
                padding: 25px 40px;
                
            }
        }

    }




    

}




