$textBlack: #263238;
$ColorGreen: #8bc34a;
$textGrey: #546e7a;
$textLightGrey: #90a4ae;
$ColorWhite: #ffffff;
$BorderForCol: 1px solid #e7ecf2;
$mainBackgroundColor: #f4f6f5;
$font: 'Roboto', sans-serif;
$borderColor: #dedede;
$colorGreen: #8bc34a;
// $boxShadow: 0 10px 30px 5px rgba(128, 128, 128, 0.288);
