<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internet store</title>
</head>
<body>


    <ul>
        <li><a href="part9.html">part9</a></li>
        <li><a href="part23.html">part23</a></li>
        <li><a href="part4.html">part4</a></li>
        <li><a href="part28.html">part28</a></li>
        <li><a href="part21.html">part21</a></li>
        <li><a href="part3.html">part3</a></li>
    </ul>


</body>
</html>