<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internet store</title>
</head>
<body>


    <ul>
        <li><a href="part9.html">Сутормина Ирина</a></li>
        <li><a href="part23.html">Задорожнюк Владислав</a></li>
        <li><a href="part4.html">Подгорный Андрей</a></li>
        <li><a href="part28.html">Бойко Екатерина</a></li>
        <li><a href="part21.html">Макарова Дарина</a></li>
        <li><a href="part3.html">Гусейнов Руслан</a></li>
    </ul>


</body>
</html>