<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css.css">
    
    <title>Document</title>
</head>
<body>
    //= ./parts/header.html

        <main class="container part4">

            <ul class="breadcrumb col-12">
                <li><a href="">Home</a></li>
                <li><a href="">Product Page</a></li>
            </ul>

            <aside class="col-3">
                <div class="wrapper-categories">
                    <div class="categories">
                        <h3>categories</h3>
                        <ul>
                            <li><a href=""><span class="name-cms">some_text</span><span class="count-cms">51</span></a></li>
                            <li><a href=""><span class="name-cms">some_text</span><span class="count-cms">52</span></a></li>
                            <li><a href=""><span class="name-cms">some_text</span><span class="count-cms">53</span></a></li>
                            <li><a href=""><span class="name-cms">some_text</span><span class="count-cms">54</span></a></li>
                            <li><a href=""><span class="name-cms">some_text</span><span class="count-cms">55</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="price-range">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
                <div class="sellers">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
            </aside>

            <div class="col-9 main">
                <div class="sort col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>

                <section class="items col-12">
                    <div class="wrapper-item col-4">
                        <div class="item">
                            <div class="div-img">
                                <img src="../images/img-item.png" alt="">
                            </div>
                            <div class="title-price">
                                <div class="title">
                                    <h3>WISTIA Corporate</h3>
                                    <h4>WordPress</h4>
                                </div>
                                <div class="price">$59</div>
                            </div>
                            <div class="reviews">
                                <div class="reviews-left">
                                    <div class="div-img">
                                        <img src="../images/img-item.png" alt="">
                                    </div>
                                    <p>PsdBosS</p>
                                </div>
                                <div class="reviews-right">
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <p class="count-reviews">05</p>
                                </div>
                            </div>
                        </div>
                    </div>

            
                     
                    
                </section>
            </div>

        </main>
        
    //= ./parts/footer.html
</body>
</html>