<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css.css">
    
    
    <title>Document</title>
</head>
<body>
    //= ./parts/header.html
    <section class="part9">
        <div class="container">
        <div class="container col-12">
             <ul class="bread-crumb">
                <li><a class="first-page" href="">Home</a></li>
                <li ><a class="second-page"href="">Product Page</a></li>
                <li ><a class="last-page"href="">GT Builder Construction</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="col-9">
                <div class="item bgWhite">
                    <img src="../images/img9.png" alt="">
                </div> 
                
                <h2>GTBuilder - Construction & Building WordPress Theme</h2>
                <p>Bmply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived noning essentially unchanged. </p>
                
                <div class="d-flex space-between margin-bottom60">
                    <div>
                            <button name="button" class="button1">Live Preview</button>
                            <button name="button" class="button2">Screenshots</button>
                            <button name="button" class="button3">Documentation</button>
                    </div>
                    <div class="d-flex">
                            <button name="button" class="cub1"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button name="button" class="cub2"><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button name="button" class="cub3"><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button name="button" class="cub4"><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                       
                    </div>
                </div>

                <ul class="nav nav-tabs d-flex justify-content-around" id="myTab" role="tablist">
                        <li class="nav-item col-3 active">
                            <a class="nav-link  show" id="ItemFeatures" data-toggle="tab" href="#ItemFeatures-content" role="tab" aria-controls="ItemFeatures" aria-selected="false">                          
                        <h5>Item Features</h5></a>
                        </li>
                        <li class="nav-item col-3 ">
                            <a class="nav-link" id="Comments" data-toggle="tab" href="#Comments-content" role="tab" aria-controls="Comments" aria-selected="false">                              
                            <h5>Comments</h5></a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" id="Reviews" data-toggle="tab" href="#Reviews-content" role="tab" aria-controls="Reviews" aria-selected="false">
                            <h5>Reviews</h5></a>
                        </li>
                        <li class="nav-item col-3">
                                <a class="nav-link " id="Support" data-toggle="tab" href="#Support-content" role="tab" aria-controls="Support" aria-selected="true">
                                <h5>Support</h5></a>
                            </li>
                            
                    </ul>
                    <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade" id="ItemFeatures-content" role="tabpanel" aria-labelledby="ItemFeatures">
                                    
                                            <div class="d-flex col-lg-4 articles">
                                                    <div class="first-row">
                                                        <ul>
                                                            <li> 
                                                            <i class="fa fa-angle-right" aria-hidden="true">  </i><span>Printing and typesetting industry</span>
                                                             </li>
                                                            <li><i class="fa fa-angle-right" aria-hidden="true">  </i><span>Bhen an unknown printe</span></li>
                                                            <li><i class="fa fa-angle-right" aria-hidden="true">  </i><span>Handard dummy text</span></li>
                                                            <li><i class="fa fa-angle-right" aria-hidden="true">  </i><span>Desktop publishing software</span></li>
                                                            <li><i class="fa fa-angle-right" aria-hidden="true">  </i><span>Bhen an unknown printe</span></li>
                                                        </ul>
                                                    </div>  
                                                    <div>
                                                        <ul>
                                                            <li><i class="fa fa-angle-right" aria-hidden="true">  </i><span>Printing and typesetting industry</span></li>
                                                            <li><i class="fa fa-angle-right" aria-hidden="true">  </i><span>Bhen an unknown printe</span></li>
                                                            <li><i class="fa fa-angle-right" aria-hidden="true">  </i><span>Handard dummy text</span></li>
                                                        </ul>
                                                    </div>                                                         
                                            </div>
                               
                            </div>
                            <div class="tab-pane fade" id="Comments-content" role="tabpanel" aria-labelledby="Comments">
                                    <div class="row">
                                            <div class="col-lg-4 articles">
                                               
                                            </div>
                                          
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="Reviews-content" role="tabpanel" aria-labelledby="Reviews">
                                    <div class="row">
                                            <div class="col-lg-4 articles">
                                               
                                            </div>
                                         
                                        </div>
                            </div>
                                <div class="tab-pane fade active show" id="Support-content" role="tabpanel" aria-labelledby="Support"><div class="col-lg-4 articles">
                                </div></div>
                                   
                        </div>
                <div>

                </div>
               
               
                <div class="bgWhite item d-flex">
                    <h4>More Product by PsdBosS</h4>
                </div>

                <div class="d-flex cards">
                    <div class="bgWhite d-flex col-4 margin-bottom-col-4">
                        <div class="square"></div>
                        <div class="d-flex flex-column div-style" >
                        <h5>Grand Ballet - Dance</h5>
                        <p class="p-style">PSD Template</p>
                        <h4>$12</h4>                  
                        </div>
                    </div>
                    <div class="d-flex bgWhite col-4 margin-left-col-4 margin-bottom-col-4">
                            <div class="square"></div>
                            <div class="d-flex flex-column div-style" >
                                <h5>Grand Ballet - Dance</h5>
                                <p class="p-style">PSD Template</p>
                                <h4>$59</h4>               
                            </div>
                    </div>
                        <div class="d-flex bgWhite col-4 margin-left-col-4 margin-bottom-col-4">
                                <div class="square"></div>
                                <div class="d-flex flex-column div-style" >
                                    <h5>Grand Ballet - Dance</h5>
                                    <p class="p-style">PSD Template</p>
                                    <h4>$48</h4> 
                                </div>
                        </div>
                </div>
                <div class="d-flex cards card-margin-bottom">
                        <div class="bgWhite d-flex col-4 margin-bottom-col-4">
                            <div class="square"></div>
                            <div class="d-flex flex-column div-style" >
                            <h5>Grand Ballet - Dance</h5>
                            <p class="p-style">PSD Template</p>
                            <h4>$18</h4>                  
                            </div>
                        </div>
                        <div class="d-flex bgWhite col-4 margin-left-col-4 margin-bottom-col-4">
                                <div class="square"></div>
                                <div class="d-flex flex-column div-style" >
                                    <h5>Grand Ballet - Dance</h5>
                                    <p class="p-style">PSD Template</p>
                                    <h4>$29</h4>               
                                </div>
                        </div>
                            <div class="d-flex bgWhite col-4 margin-left-col-4 margin-bottom-col-4">
                                    <div class="square"></div>
                                    <div class="d-flex flex-column div-style" >
                                        <h5>Grand Ballet - Dance</h5>
                                        <p class="p-style">PSD Template</p>
                                        <h4>$18</h4> 
                                    </div>
                            </div>
                    </div>
            </div>
            
    
            <div class="col-3">
                <div class="item1 first-box bgWhite">
                    <h4>Product Price</h4>                   
                    <div class="d-flex flex-column line">
                    <div class="d-flex space-between margin">
                        <h3>59.00$</h3>
                        <select name="select" class="list-nav"> 
                            <option value="value1" class="list-nav-style">Regular1</option> 
                            <option value="value2" selected>Regular</option>
                            <option value="value3">Regular3</option>
                        </select>
                    </div>
                    <form  action="">
                        <button class="button4" name="button"> <i class="fa fa-shopping-cart" aria-hidden="true"> </i>Add To Cart</button>
                        <button class="button5" name="button"><i class="fa fa-heart-o" aria-hidden="true">Add To Favourites</i></button>
                        <button class="button6" name="button">Buy Now</button>
                    </form>
                    </div>
               </div>
               <div class="item1 second-box bgWhite">
                    <h4>Product Author</h4> 
                    <div class="d-flex line">  
                        <div class="square"></div>
                        <div class="d-flex flex-column space-between" >
                            <p class="p-style">PsdBoss</p>
                            <button class="squareSmall">View Profile</button>
                        </div>
                    </div>
                    <div class="d-flex margin-bottom">
                        <div class="flag"><i class="fa fa-meh-o" aria-hidden="true"></i></div>
                        <div class="flag1"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
                        <div class="flag2"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                        <div class="flag3"><i class="fa fa-foursquare" aria-hidden="true"></i></div>
                        <div class="flag4"><i class="fa fa-jpy" aria-hidden="true"></i></div>
                    </div>
               </div>
               <div class="item1 third-box bgWhite">
                   <div class='d-flex align-it'>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <h5>05</h5>
                        <p>Sales</p> 
                   </div> 
               </div>
               <div class="item1 four-box bgWhite">
                   <h4>Product Information</h4>
                   <div class="line">
                       <p><strong>Released On:</strong>  1 January, 2016</p>
                        <p><strong>Last Update:</strong>  20 April, 2016</p>
                        <p><Strong>Download:</Strong>  613</p>
                        <p><strong>Version:</strong>  1.1</p>
                        <p><strong>Compatibility:</strong>  Wordpress 4+</p>
                        <p><strong>Compatible Browsers:</strong>   IE9, IE10, IE11, Firefox, Safari, 
                        Opera, Chrome</p>
                   </div>
                   
               </div>
                
            </div>
        
        
     </div>   
    </section>

   



        
    //= ./parts/footer.html
</body>
</html>