<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css.css">
    
    <title>Document</title>
</head>
<body>
    //= ./parts/header.html

        <main class="container">

            <ul class="breadcrumb col-12">
                <li><a href="">Home</a></li>
                <li><a href="">Product Page</a></li>
            </ul>

            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio maxime delectus ipsa accusamus 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas amet tempora blanditiis, in quam consequatur ad beatae voluptatum odio obcaecati, debitis illo, sed veritatis. Sit quos numquam dolorem non neque!
            </div>

            <div class="col-9" style="display: flex">
                <div class="col-4">in quam consequatur ad beatae voluptatum odio obcaecati, debitis illo, sed veritatis. Sit quos numquam dolorem non neque!</div>
                <div class="col-4">in quam consequatur ad beatae voluptatum odio obcaecati, debitis illo, sed veritatis. Sit quos numquam dolorem non neque!</div>
                <div class="col-4">in quam consequatur ad beatae voluptatum odio obcaecati, debitis illo, sed veritatis. Sit quos numquam dolorem non neque!</div>
            </div>

        </main>
        
    //= ./parts/footer.html
</body>
</html>