<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css.css">
    
    
    <title>Document</title>
</head>
<body>
    //= ./parts/header.html
    <section>
        <div class="container">
        <div class="container col-12">
             <ul class="breadcrumb ">
                <li><a class="first-page" href="">Home</a></li>
                <li ><a class="second-page"href="">Product Page</a></li>
                <li ><a class="last-page"href="">GT Builder Construction</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="col-9">
                <div class="item bgWhite">
                    <img src="../images/img9.png" alt="">
                </div> 
                <h2>GTBuilder - Construction & Building WordPress Theme</h2>
                <p>Bmply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived noning essentially unchanged. </p>
                
                <div class="d-flex space-between ">
                    <div>
                            <button name="button" class="button1">Live Preview</button>
                            <button name="button" class="button2">Screenshots</button>
                            <button name="button" class="button3">Documentation</button>
                    </div>
                    <div class="d-flex">
                            <button name="button" class="cub1"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button name="button" class="cub2"><i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button name="button" class="cub3"><i class="fa fa-linkedin" aria-hidden="true"></i></button>
                            <button name="button" class="cub4"><i class="fa fa-pinterest-p" aria-hidden="true"></i></button>
                       
                    </div>

                </div>
               
                <div>
                    <ul class="d-flex nav">
                        
                        <li><a href="#">Item Features</a></li>
                        <li><a href="#">Comments</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                
            </div>
    
            <div class="col-3">
                <div class="item1 first-box bgWhite">
                    <h4>Product Price</h4>                   
                    <div class="d-flex flex-column line">
                    <div class="d-flex space-between margin">
                        <h3>59.00$</h3>
                        <select name="select" class="list-nav"> 
                            <option value="value1" class="list-nav-style">regular1</option> 
                            <option value="value2" selected>Regular</option>
                            <option value="value3">Regulr3</option>
                        </select>
                    </div>
                    <form  action="">
                        <button class="button4" name="button"> <i class="fa fa-shopping-cart" aria-hidden="true"> </i>Add To Cart</button>
                        <button class="button5" name="button"><i class="fa fa-heart-o" aria-hidden="true">Add To Favourites</i></button>
                        <button class="button6" name="button">Buy Now</button>
                    </form>
                    </div>
               </div>
               <div class="item1 second-box bgWhite">
                    <h4>Product Author</h4> 
                    <div class="d-flex line">  
                        <div class="square"></div>
                        <div class="d-flex flex-column space-between" >
                            <p class="p-style">PsdBoss</p>
                            <button class="squareSmall">View Profile</button>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="flag"><i class="fa fa-meh-o" aria-hidden="true"></i></div>
                        <div class="flag"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
                        <div class="flag"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                        <div class="flag"><i class="fa fa-foursquare" aria-hidden="true"></i></div>
                        <div class="flag"><i class="fa fa-jpy" aria-hidden="true"></i></div>
                    </div>
               </div>
               <div class="item1 third-box bgWhite">
                   <div class='d-flex'>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <p>05</p>
                        <p>Sales</p> 
                   </div> 
               </div>
               <div class="item1 fore-box bgWhite">
                   <h4>Product Information</h4>
                   <p>Released On: 1 January, 2016</p>
                   <p>Last Update: 20 April, 2016</p>
                   <p>Download: 613</p>
                   <p>Version: 1.1</p>
                   <p>Compatibility: Wordpress 4+</p>
                   <p>Compatible Browsers:  IE9, IE10, IE11, Firefox, Safari, 
                        Opera, Chrome</p>
               </div>
                
            </div>
        </div>
        
     </div>   
    </section>

   



        
    //= ./parts/footer.html
</body>
</html>