<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css.css">
    
    <title>Document</title>
</head>
<body>
    //= ./parts/header.html
    <section-Withdrawals>
        <h2>Home - Withdrawals</h1>
        <div class="main">
        <container-1>
        <h1>Withdrawals Earnings</h1>
        <div class="forms">
            <form>
            <div class="wrap">
                  <p>Amount to Withdraw ($2000.00 Maximum)</p>
                  <p><input name="a" size="60"  placeholder="Enter the amount you want to withdraw..."></p>
            </div>
            <div class="wrap">
                  <p>Choose your Withdraw Method</p>
                  <select ><option >Select Your Card</option>
                  <option>Master Card</option>
                  <option>Visa</option>
                  </select> 
            </div>
            <div class="wrap">
                  <p>Your Account Name</p>
               <p><input name="a" size="60" placeholder="Enter your account name"></p>
            </div>
            <div class="wrap">
                  <p>Confirm Your Password</p>
                  <p><input name="a" size="60" placeholder="Enter your password"></p>           </div>  
            <div class="wrap">
                <a href="">Request Withdrawal</a> 
            </div>   
          </form>      
        </div>
        </container-1>
        <container-2>
            <h1>Withdrawal History</h1>
            <div class="history">
            <wrap>
                <p>Dec 26th, 2016</p>
                <p>Psdboss@paypal.com</p>
                <p>200$</p>
                <p>Pending</p>
            </wrap>
            <wrap>
                <p>Dec 26th, 2016</p>
                <p>Psdboss@paypal.com</p>
                <p>100$</p>
                <p>Paid</p>
            </wrap>
            <wrap>
                <p>Dec 26th, 2016</p>
                <p>Psdboss@paypal.com</p>
                <p>200$</p>
                <p>Paid</p>
            </wrap>
            <wrap>
                <p>Dec 26th, 2016</p>
                <p>Psdboss@paypal.com</p>
                <p>100$</p>
                <p>Paid</p>
            </wrap>
            <wrap>
                <p>Dec 26th, 2016</p>
                <p>Psdboss@paypal.com</p>
                <p>200$</p>
                <p>Paid</p>
            </wrap>
            <wrap>
                  <p>Dec 26th, 2016</p>
                  <p>Psdboss@paypal.com</p>
                  <p>200$</p>
                  <p>Paid</p>
            </wrap>
            <wrap>
                  <p>Dec 26th, 2016</p>
                  <p>Psdboss@paypal.com</p>
                  <p>200$</p>
                  <p>Paid</p>
            </wrap>
          </div>
            
          </div>  
        </container-2>    
        </div>
    </section-Withdrawals>  



        
    //= ./parts/footer.html
</body>
</html>