<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/css.css">
    <title>Document</title>
</head>
<body>
    //= ./parts/header.html

    <main class="ruslan">
        <section class="section-1">
                <div class="container-fluid">
                    <h2>Let’s Check Out Our Newest Release Prodcuts</h2>
                    <ul class="tabs">
                        <li class="tabs-red"><a href=#>All</a></li>
                        <li><a href=#>WorldPress</a></li>
                        <li><a href=#>Joomla</a></li>
                        <li><a href=#>Plugins</a></li>
                        <li><a href=#>Component</a></li>
                        <li><a href=#>PSD</a></li>
                    </ul>
                    <div class="four-square">
                        <div class="col-3">
                            <div>
                                <div class="one">
                                    <img src="../images/for_03_main-1.png">
                                </div>
                                <div class="two">
                                    <div class="two-text">
                                        <h3>The Post Grid Pro</h3>
                                        <span>WordPress Plugin</span>
                                    </div>
                                    <div class="number-15">
                                        <h3>$15</h3>
                                    </div>
                                </div>        
                                <div class="three">
                                    <div class="circle-boss">
                                        <div class="circle"></div>
                                        <p>PsdBosS</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p class="last-text"><span>(</span>05<span>)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <div class="one">
                                    <img src="../images/for_03_main-1.png">
                                    <i class="fa fa-bolt" aria-hidden="true"></i>
                                    <div class="triangle"></div> 
                                </div>
                                <div class="two">
                                    <div class="two-text">
                                        <h3>The Post Grid Pro</h3>
                                        <span>WordPress Plugin</span>
                                    </div>
                                    <div class="number-15">
                                        <h3>$15</h3>
                                    </div>
                                </div>        
                                <div class="three">
                                    <div class="circle-boss">
                                        <div class="circle"></div>
                                        <p>PsdBosS</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p class="last-text"><span>(</span>05<span>)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <div class="one">
                                    <img src="../images/for_03_main-1.png"> 
                                </div>
                                <div class="two">
                                    <div class="two-text">
                                        <h3>The Post Grid Pro</h3>
                                        <span>WordPress Plugin</span>
                                    </div>
                                    <div class="number-15">
                                        <h3>$15</h3>
                                    </div>
                                </div>        
                                <div class="three">
                                    <div class="circle-boss">
                                        <div class="circle"></div>
                                        <p>PsdBosS</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p class="last-text"><span>(</span>05<span>)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <div class="one">
                                    <img src="../images/for_03_main-1.png">
                                </div>
                                <div class="two">
                                    <div class="two-text">
                                        <h3>The Post Grid Pro</h3>
                                        <span>WordPress Plugin</span>
                                    </div>
                                    <div class="number-15">
                                        <h3>$15</h3>
                                    </div>
                                </div>        
                                <div class="three">
                                    <div class="circle-boss">
                                        <div class="circle"></div>
                                        <p>PsdBosS</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p class="last-text"><span>(</span>05<span>)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four-square">
                        <div class="col-3">
                            <div>
                                <div class="one">
                                    <img src="../images/for_03_main-1.png">
                                </div>
                                <div class="two">
                                    <div class="two-text">
                                        <h3>The Post Grid Pro</h3>
                                        <span>WordPress Plugin</span>
                                    </div>
                                    <div class="number-15">
                                        <h3>$15</h3>
                                    </div>
                                </div>        
                                <div class="three">
                                    <div class="circle-boss">
                                        <div class="circle"></div>
                                        <p>PsdBosS</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p class="last-text"><span>(</span>05<span>)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <div class="one">
                                    <img src="../images/for_03_main-1.png">
                                </div>
                                <div class="two">
                                    <div class="two-text">
                                        <h3>The Post Grid Pro</h3>
                                        <span>WordPress Plugin</span>
                                    </div>
                                    <div class="number-15">
                                        <h3>$15</h3>
                                    </div>
                                </div>        
                                <div class="three">
                                    <div class="circle-boss">
                                        <div class="circle"></div>
                                        <p>PsdBosS</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p class="last-text"><span>(</span>05<span>)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <div class="one">
                                    <img src="../images/for_03_main-1.png">
                                    <i class="fa fa-bolt" aria-hidden="true"></i>
                                    <div class="triangle"></div>
                                </div>
                                <div class="two">
                                    <div class="two-text">
                                        <h3>The Post Grid Pro</h3>
                                        <span>WordPress Plugin</span>
                                    </div>
                                    <div class="number-15">
                                        <h3>$15</h3>
                                    </div>
                                </div>        
                                <div class="three">
                                    <div class="circle-boss">
                                        <div class="circle"></div>
                                        <p>PsdBosS</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p class="last-text"><span>(</span>05<span>)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <div class="one">
                                    <img src="../images/for_03_main-1.png">
                                </div>
                                <div class="two">
                                    <div class="two-text">
                                        <h3>The Post Grid Pro</h3>
                                        <span>WordPress Plugin</span>
                                    </div>
                                    <div class="number-15">
                                        <h3>$15</h3>
                                    </div>
                                </div>        
                                <div class="three">
                                    <div class="circle-boss">
                                        <div class="circle"></div>
                                        <p>PsdBosS</p>
                                    </div>
                                    <div class="star">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p class="last-text"><span>(</span>05<span>)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="last-tabs">
                        <li><a href=#>All New Items</a></li>
                        <li><a href=#>Popular Items</a></li>
                    </ul>
                </div>
        </section>
        <section class="section-2">
            <div class="container-fluid">
                <h2>This Week Trending Products</h2>
                <div class="four-square">
                    <div class="col-3">
                        <div>
                            <div class="one">
                                <img src="../images/for_03_main-1.png">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                <div class="triangle"></div>
                            </div>
                            <div class="two">
                                <div class="two-text">
                                    <h3>The Post Grid Pro</h3>
                                    <span>WordPress Plugin</span>
                                </div>
                                <div class="number-15">
                                    <h3>$15</h3>
                                </div>
                            </div>        
                            <div class="three">
                                <div class="circle-boss">
                                    <div class="circle"></div>
                                    <p>PsdBosS</p>
                                </div>
                                <div class="star">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <p class="last-text"><span>(</span>05<span>)</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <div class="one">
                                <img src="../images/for_03_main-1.png">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                <div class="triangle"></div>
                            </div>
                            <div class="two">
                                <div class="two-text">
                                    <h3>The Post Grid Pro</h3>
                                    <span>WordPress Plugin</span>
                                </div>
                                <div class="number-15">
                                    <h3>$15</h3>
                                </div>
                            </div>        
                            <div class="three">
                                <div class="circle-boss">
                                    <div class="circle"></div>
                                    <p>PsdBosS</p>
                                </div>
                                <div class="star">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <p class="last-text"><span>(</span>05<span>)</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <div class="one">
                                <img src="../images/for_03_main-1.png">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                <div class="triangle"></div> 
                            </div>
                            <div class="two">
                                <div class="two-text">
                                    <h3>The Post Grid Pro</h3>
                                    <span>WordPress Plugin</span>
                                </div>
                                <div class="number-15">
                                    <h3>$15</h3>
                                </div>
                            </div>        
                            <div class="three">
                                <div class="circle-boss">
                                    <div class="circle"></div>
                                    <p>PsdBosS</p>
                                </div>
                                <div class="star">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <p class="last-text"><span>(</span>05<span>)</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <div class="one">
                                <img src="../images/for_03_main-1.png">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                <div class="triangle"></div> 
                            </div>
                            <div class="two">
                                <div class="two-text">
                                    <h3>The Post Grid Pro</h3>
                                    <span>WordPress Plugin</span>
                                </div>
                                <div class="number-15">
                                    <h3>$15</h3>
                                </div>
                            </div>        
                            <div class="three">
                                <div class="circle-boss">
                                    <div class="circle"></div>
                                    <p>PsdBosS</p>
                                </div>
                                <div class="star">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <p class="last-text"><span>(</span>05<span>)</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four-circle">
                    <div class="grey"></div>
                    <div class="grey green"></div>
                    <div class="grey"></div>
                    <div class="grey"></div>
                </div>
            </div>
        </section>
        <section class="section-3">
            <h2>Why You Choose Foxtar Market Place?</h2>
            <div class="container">
                <div class="col-4">
                    <div class="three-circle">
                        <div class="circle"></div>
                        <h4>Easily Buy & Sell</h4>
                        <p>Dorem Ipsum is simply dummy text of the pring and typesetting industry. Lorem Ipsum has been the industry's standaum.
                        </p>
                    </div>  
                </div>
                <div class="col-4">
                    <div class="three-circle">
                        <div class="circle lighter"></div>
                        <h4 class="green">Quality Products</h4>
                        <p>Dorem Ipsum is simply dummy text of the pring and typesetting industry. Lorem Ipsum has been the industry's standaum.
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="three-circle">
                        <div class="circle"></div>
                        <h4>100% Secure Payment</h4>
                        <p>Dorem Ipsum is simply dummy text of the pring and typesetting industry. Lorem Ipsum has been the industry's standaum.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-4">
            <div class="container">
                <div class="col-12">
                    <div class="block-4">
                        <div class="green">
                            <h4>Over <span>20,000</span> Author 
                                <br>Are Involved Here!
                            </h4>
                            <ul class="last-tabs">
                                <li><a href=#>Become A Author</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-5">
            <h2>Free Monthly Tutorials To Help You With Your Project</h2>
            <div class="container">
                <div class="col-4">
                    <div class="wrapper ">
                        <img src="../images/for_03_main-3.png">
                        <div class="text">Web Design Tutorials</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="wrapper">
                        <img src="../images/for_03_main-3.png">
                        <div class="text">WordPress Tutorials</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="wrapper">
                        <img src="../images/for_03_main-3.png">
                        <div class="text">HTML & CSS Tutorials</div>
                    </div>
                </div>
            </div>
            
        </section>
    </main> 

        
    //= ./parts/footer.html
</body>
</html>