<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/css.css">
    
    <title>Document</title>
</head>
<body>
    //= ./parts/header.html
    <section-Withdrawals> 
        <div class="home">
                <a href="">Home</a>  
                <p>-</p>
                <a href=""><span>Withdrawals</span> </a> 
        </div>
    <div class="main">
    <div class="container-1">
    <h1>Withdrawals Earnings</h1>
    <div class="forms">
        <form>
        <div class="wrap">
              <p>Amount to Withdraw ($2000.00 Maximum) <span>*</span></p>
              <div><input name="a" size="60" type="text" placeholder="Enter the amount you want to withdraw..."></p></div>
        </div>
        <div class="wrap">
              <p>Choose your Withdraw Method <span>*</span></p>
              <select ><option >Select Your Card </option>
              <option>Master Card</option>
              <option>Visa</option>
              </select> 
        </div>
        <div class="wrap">
              <p>Your Account Name <span>*</span></p>
           <div><input name="a" size="60" type="text" placeholder="Enter your account name"></div>
        </div>
        <div class="wrap">
              <p>Confirm Your Password <span>*</span></p>
              <div> <input name="a" size="60" type="password" placeholder="Enter your password"></div>          </div>  
        <div class="wrap">
            <button type="submit">Request Withdrawal</button> 
        </div>   
      </form>      
    </div>
</div>
    <div class="container-2">
        <h1>Withdrawal History</h1>
        <div class="history">
        <wrap>
            <p>Dec 26th, 2016</p>
            <p>Psdboss@paypal.com</p>
            <p>200$</p>
            <p><span>Pending</span></p>
        </wrap>
        <wrap>
            <p>Dec 26th, 2016</p>
            <p>Psdboss@paypal.com</p>
            <p>100$</p>
            <p>Paid</p>
        </wrap>
        <wrap>
            <p>Dec 26th, 2016</p>
            <p>Psdboss@paypal.com</p>
            <p>200$</p>
            <p>Paid</p>
        </wrap>
        <wrap>
            <p>Dec 26th, 2016</p>
            <p>Psdboss@paypal.com</p>
            <p>100$</p>
            <p>Paid</p>
        </wrap>
        <wrap>
            <p>Dec 26th, 2016</p>
            <p>Psdboss@paypal.com</p>
            <p>200$</p>
            <p>Paid</p>
        </wrap>
        <wrap>
              <p>Dec 26th, 2016</p>
              <p>Psdboss@paypal.com</p>
              <p>200$</p>
              <p>Paid</p>
        </wrap>
        <wrap>
              <p>Dec 26th, 2016</p>
              <p>Psdboss@paypal.com</p>
              <p>200$</p>
              <p>Paid</p>
        </wrap>
      </div>
        
      </div>  
    </div>    
    </div>
</section-Withdrawals>  


        
    //= ./parts/footer.html
</body>
</html>